.Footer{
    background-color: gray;
    max-height: 11vh;
}

.authors{
    text-align: center;
    font-weight:400;
    color:black;
    line-height: 50%;
    font-size: 1.25vh;
}

.GitHubIcon {
    height: 10%;
}